
@{
    ViewData["Title"] = "flighdetails";
    Layout = "~/Views/Layouts/_adminLayout.cshtml";
}

<div class="page-wrapper">
    <br />
    <br />
    <h1 style="text-align:center;">Flight Details</h1>
    <br />
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-1">
                <button type="submit" class="btn btn-primary waves-effect waves-light">Chat</button>
            </div>
            <div class="col-3">
                <button type="submit" class="btn btn-primary waves-effect waves-light">Add purposal</button>
            </div>

        </div>
        <br />
        <div class="row">
            <div class="col-md-12  one_kanban mb-2" style="
    text-align: center;
">
                <form action="/shop/checkout" method="POST" class="d-none">
                    <input type="hidden" name="csrf_token">
                    <input type="hidden" name="partner_id">
                    <input type="hidden" name="callback">
                    <input type="submit">
                </form>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <style>
                    .align {
                        padding-right: 6%;
                    }

                    .checked {
                        color: orange;
                    }
                </style>

                <div class="card border border-primary">
                    <div class="card-body" style="min-height: 130px;">
                        <address class="mb-0" itemscope="itemscope">
                            <div>
                                <span itemprop="name">
                                    <img style="width: 7%;border-radius: 50%;" src="~/projectimages/manivectoricon.jpg" /> Passenger Name<br />

                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </span>
                            </div>
                            <div class=" align">
                                <span itemprop="name">
                                    <img style="width: 7%;border-radius: 50%;" src="~/projectimages/verifiedicon.png" /> Verified


                                </span>
                            </div>
                            <br />
                            <div class=" align">
                                <span itemprop="name">
                                    <img style="width: 3%;border-radius: 50%;" src="~/projectimages/crosscircle.png" /> Report
                                </span>
                            </div>
                            <div itemprop="address" itemscope="itemscope">
                                <div class="d-flex align-items-baseline">
                                    <span class="w-100 o_force_ltr d-block" itemprop="streetAddress">
                                        Prefered Packages types<br><br>Flight Date &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                        <br><br>Availabe weight &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br><br>Price Per 1 KG  &nbsp; &nbsp; &nbsp;  Currency

                                    </span>
                                </div>
                            </div>
                            <br />

                            <div itemprop="address" itemscope="itemscope">
                                <div class="d-flex align-items-baseline">
                                    <span class="w-100 o_force_ltr d-block" itemprop="streetAddress" style="
    padding-left: 12%;
">
                                        <span style="
    padding-left: 12%;
">TO Airport</span>
                                        <span style="
    padding-left: 8%;
">Country &nbsp; &nbsp; egypt</span>
                                        <span style="
    padding: 3%;
">City &nbsp; &nbsp; Tanta</span>
                                    </span>
                                </div>
                            </div>
                            <br />
                            <div itemprop="address" itemscope="itemscope">
                                <div class="d-flex align-items-baseline">
                                    <span class="w-100 o_force_ltr d-block" itemprop="streetAddress" style="
    padding-left: 12%;
">
                                        <span style="
    padding-left: 11%;
">From Airport</span>
                                        <span style="
    padding-left: 7%;
">Country &nbsp; &nbsp; egypt</span>
                                        <span style="
    padding: 3%;
">City &nbsp; &nbsp; Tanta</span>
                                    </span>
                                </div>
                            </div>
                            <br />
                            <span class="w-100 o_force_ltr d-block" itemprop="streetAddress" style="
    padding-right: 10%;
">
                                Is Negotionable
                            </span>





                            
                        </address>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>