
@{
    ViewData["Title"] = "login";
    Layout = "~/Views/Layouts/_loginLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student FinTech</title>

    <link rel="stylesheet" type="text/css" href="~/loginasset/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/loginasset/css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="~/loginasset/css/iofrm-style.css">
    <link rel="stylesheet" type="text/css" href="~/loginasset/css/iofrm-theme16.css">
</head>
<body>
    <div class="form-body without-side">
        <div class="website-logo">
            @*<a href="#">
                <div class="logo">
                    <img class="logo-size" src="~/asset/StudentFinTech_Logo-mid-size.jpg" alt="">
                </div>
            </a>*@
        </div>
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">
                    <img src="~/loginasset/images/graphic3.svg" alt="">
                </div>
            </div>
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Login to account</h3>
                        <p style="line-height:1.5em;">
                            Access The Dashboard Student FinTech.
                        </p>
                       
                  
                        <form action="/admin/dashboard"method="post">
                            <input class="form-control" type="text" name="username" placeholder="E-mail Address" required>
                            <input class="form-control" type="password" name="password" placeholder="Password" required>
                            <div class="form-button">
                                <button id="submit" type="submit" class="ibtn">Login</button> <a href="forget16.html">Forget password?</a>
                            </div>
                        </form>
                       <br />
                       <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/loginasset/js/jquery.min.js"></script>
    <script src="~/loginasset/js/popper.min.js"></script>
    <script src="~/loginasset/js/bootstrap.min.js"></script>
    <script src="~/loginasset/js/main.js"></script>
</body>
</html>

