
@{
    ViewData["Title"] = "Prefrence details";
    Layout = "~/Views/Layouts/_adminLayout.cshtml";
}

<div class="page-wrapper">
    <br />
    <br />
    <h1 style="text-align:center;">Prefrence Details</h1>
    <br />
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <button type="submit" class="btn btn-primary waves-effect waves-light">Deactivate</button>
            </div>
            <div class="col-3">
                <button type="submit" class="btn btn-primary waves-effect waves-light">Edit</button>
            </div>

        </div>
        <br />
        <div class="row">
            <div class="col-md-12  one_kanban mb-2" style="
    text-align: center;
">


                <style>
                    .align {
                        padding-right: 6%;
                    }

                    .checked {
                        color: orange;
                    }
                </style>

                <div class="card border border-primary">
                    <div class="card-body" style="min-height: 130px;">
                        <address class="mb-0" itemscope="itemscope">



                            <div itemprop="address" itemscope="itemscope">
                                <div class="d-flex align-items-baseline">
                                    <span class="w-100 o_force_ltr d-block" itemprop="streetAddress">
                                        Prefered Packages types<br><br>Flight Date &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                        <br><br>Availabe weight &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br>

                                    </span>
                                </div>
                            </div>
                            <br />

                            <div itemprop="address" itemscope="itemscope">
                                <div class="d-flex align-items-baseline">
                                    <span class="w-100 o_force_ltr d-block" itemprop="streetAddress" style="
    padding-left: 12%;
">
                                        <span style="
    padding-left: 12%;
">TO Airport</span>
                                        <span style="
    padding-left: 8%;
">Country &nbsp; &nbsp; egypt</span>
                                        <span style="
    padding: 3%;
">City &nbsp; &nbsp; Tanta</span>
                                    </span>
                                </div>
                            </div>
                            <br />
                            <div itemprop="address" itemscope="itemscope">
                                <div class="d-flex align-items-baseline">
                                    <span class="w-100 o_force_ltr d-block" itemprop="streetAddress" style="
    padding-left: 12%;
">
                                        <span style="
    padding-left: 11%;
">From Airport</span>
                                        <span style="
    padding-left: 7%;
">Country &nbsp; &nbsp; egypt</span>
                                        <span style="
    padding: 3%;
">City &nbsp; &nbsp; Tanta</span>
                                    </span>
                                </div>
                            </div>
                            <br />
                            <span class="w-100 o_force_ltr d-block" itemprop="streetAddress" style="
    padding-right: 10%;
">
                                Is Negotionable
                            </span>






                        </address>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
