
@{
    ViewData["Title"] = "registration";
    Layout = "~/Views/Layouts/_loginLayout.cshtml";
}


    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
  
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->

    <div class="page-content">
        <div class="form-v9-content" style="background-image: url('/registration/images/form-v9.jpg'); margin-top: 57px;">
            <form class="form-detail" action="#" method="post">
                <h2>Registration Form</h2>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Profile Image</h4>

                        <div class="dropify-wrapper"><div class="dropify-message"><span class="file-icon"></span> <p>Drag and drop a file here or click</p><p class="dropify-error">Ooops, something wrong appended.</p></div><div class="dropify-loader"></div><div class="dropify-errors-container"><ul></ul></div><input type="file" id="input-file-now" class="dropify"><button type="button" class="dropify-clear">Remove</button><div class="dropify-preview"><span class="dropify-render"></span><div class="dropify-infos"><div class="dropify-infos-inner"><p class="dropify-filename"><span class="file-icon"></span> <span class="dropify-filename-inner"></span></p><p class="dropify-infos-message">Drag and drop or click to replace</p></div></div></div></div>
                    </div>
                </div>
                <div class="form-row-total">
                    <div class="form-row">
                        <input type="text" name="full-name" id="full-name" class="input-text" placeholder="Full Name" required>
                    </div>
                    <div class="form-row">
                        <input type="text" name="email" id="your-email" class="input-text" placeholder="Email" required pattern="[^@@]+@@[^@@]+.[a-zA-Z]{2,6}">
                    </div>
                </div>
                <div class="form-row-total">
                    <div class="form-row">
                        <input type="tel" name="password" id="password" class="input-text" placeholder="Mobile Phone" required>
                    </div>
                    <div class="form-row">
                        <input type="tel" name="password" id="password" class="input-text" placeholder="Extra Mobile Phone" required>
                    </div>
                </div>
                <div class="form-row-total">
                    <div class="form-row">
                        <input type="text" name="password" id="password" class="input-text" placeholder="Country" required>
                    </div>
                    <div class="form-row">
                        <input type="text" name="comfirm-password" id="comfirm-password" class="input-text" placeholder="City" required>
                    </div>
                </div>
                <div class="form-row-total">
                    <div class="form-row">
                        <input type="password" name="password" id="password" class="input-text" placeholder="Password" required>
                    </div>
                    <div class="form-row">
                        <input type="password" name="comfirm-password" id="comfirm-password" class="input-text" placeholder="Confirm Password" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="checkbox checkbox-success">
                            <input id="checkbox-signup" type="checkbox">
                            <label for="checkbox-signup"> By clicking Sign Up, you agree to our <a style=" color: cornflowerblue;">Terms and conditions</a>  and that you have read our <a style=" color: cornflowerblue;">Privacy Policy</a>.</label>
                        </div>
                    </div>
                </div>
                <div class="form-row-last">
                    <input type="submit" name="register" class="register" value="Register">
                </div>
                <div class="form-group m-b-0">
                    <div class="col-sm-12 text-center">
                        <div>Already have an account? <a href="pages-login.html" class="text-info m-l-5"><b>Sign In</b></a></div>
                    </div>
                </div>
            </form>
        </div>
    </div>

   
    

    @*<div class="login-register" style="background-image: url(/maeen_asset/assets/images/background/login-register.jpg);">
            <div class="login-box card">
                <div class="card-body">
                    <form class="form-horizontal form-material" id="loginform" action="index.html">
                        <h3 class="box-title m-b-20">Sign Up</h3>
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">File Upload1</h4>
                                <label for="input-file-now">Your so fresh input file — Default version</label>
                                <div class="dropify-wrapper"><div class="dropify-message"><span class="file-icon"></span> <p>Drag and drop a file here or click</p><p class="dropify-error">Ooops, something wrong appended.</p></div><div class="dropify-loader"></div><div class="dropify-errors-container"><ul></ul></div><input type="file" id="input-file-now" class="dropify"><button type="button" class="dropify-clear">Remove</button><div class="dropify-preview"><span class="dropify-render"></span><div class="dropify-infos"><div class="dropify-infos-inner"><p class="dropify-filename"><span class="file-icon"></span> <span class="dropify-filename-inner"></span></p><p class="dropify-infos-message">Drag and drop or click to replace</p></div></div></div></div>
                            </div>
                        </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" required="" placeholder="Name">
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" required="" placeholder="Email">
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" required="" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" required="" placeholder="Confirm Password">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="checkbox checkbox-success">
                            <input id="checkbox-signup" type="checkbox">
                            <label for="checkbox-signup"> I agree to all <a href="#">Terms</a></label>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Sign Up</button>
                    </div>
                </div>
                <div class="form-group m-b-0">
                    <div class="col-sm-12 text-center">
                        <div>Already have an account? <a href="pages-login.html" class="text-info m-l-5"><b>Sign In</b></a></div>
                    </div>
                </div>
                </form>
            </div>
            </div>
        </div>*@

    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->




